
$backGroundColor : #FFDD99;
body{
    background:$backGroundColor;
    background-image: url(./concorde.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;

}